{
	"parser": "babel-eslint",
	"env": {
		"browser": true,
		"node": true
	},
	"extends": "airbnb",
	"plugins": [
		"react"
	],
	"rules": {
		"linebreak-style": 0,
		"react/jsx-filename-extension": 0
	}
}
